<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
<div class="container">

  <div class="jumbotron text-center">
    <h1><span class="fa fa-lock"></span>Welcome</h1>

    <% if (me) { %>
      <p><%= me.email %><p>
      <a href="/logout" class="btn btn-default"><span class="fa fa-user"></span> Logout</a>

    <% } else { %>
      <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
      <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
    <% } %>
  </div>

  <% if (me) { %>
    <div class="row">
      <div class=".col-6 .col-sm-4 text-center">

        <% if (signupMessage.length > 0) { %>
            <div class="alert alert-success"><%= signupMessage %></div>
        <% } %>

        <% if (loginMessage.length > 0) { %>
            <div class="alert alert-success"><%= loginMessage %></div>
        <% } %>

      </div>
    </div>
  <% } %>

</div>
</body>
</html>
