<!DOCTYPE html>
<html>
<head>
    <title>Hello</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
    <h1><span class="fa fa-users"></span> Users Page</h1>
    <div class="row">
      <div class="col-10">
        <div class="well">
          <table>
            <% for(let i=0; i < users.length; i++) { %>
               <tr>
                 <td><%= users[i].id %></td>
                 <td><%= users[i].email %></td>
               </tr>
            <% } %>
        </table>
      </div>
    </div>
  </div>
</body>
</html>
